name: lory

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
        components: rustfmt, clippy
    - uses: actions-rs/cargo@v1
      name: format
      with:
        command: fmt
        args: --all -- --check
    - uses: actions-rs/cargo@v1
      name: clippy
      with:
        command: clippy
        args: -- -D warnings
    - uses: actions-rs/cargo@v1
      name: test
      with:
        command: test
        args: --verbose --all
